# Auto detect text files and perform LF normalization
* text=auto
mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
media/Commercial.mp4 filter=lfs diff=lfs merge=lfs -text
media/MMDA[[:space:]]Video[[:space:]]Assignment.mp4 filter=lfs diff=lfs merge=lfs -text
media/Reel[[:space:]]Activity.mp4 filter=lfs diff=lfs merge=lfs -text
